.customer-list {
  width: 90%;
  margin: 90px auto;
  min-height: 71vh;
  font-family: sans-serif;
  .add-button {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #e41f07;
    border: 1px solid #e41f07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 600ms;
    &:hover {
      background-color: #c11a06;
    }
  }
  .form {
    .addImage {
      .person {
        width: 250px;
      }
    }
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 120px;
    .choosePhoto {
      display: none;
    }
    .customer-form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      max-width: 600px;
      width: 400px;
      .upload {
        font-family: sans-serif;
        text-align: center;
        margin: 10px;
      }
      input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }

      .error {
        color: red;
        font-size: 0.875rem;
        font-family: sans-serif;
      }

      button {
        padding: 10px 15px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px 0;
        &:hover {
          background-color: #218838;
        }
      }

      button[type="button"] {
        background-color: #dc3545;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
  .table {
    font-family: sans-serif;
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .customer-table {
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 95%;
      .customer-header {
        display: flex;
        background-color: #f1f1f1;
        font-weight: bold;

        .header-item {
          flex: 1;
          padding: 10px;
          text-align: center;
          border-bottom: 2px solid #ccc;
        }
      }

      .customer-row {
        display: flex;
        border-bottom: 1px solid #eee;
        padding: 10px;
        align-items: center;
        .customer-item {
          flex: 1;
          text-align: center;

          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
        }

        .delete {
          margin: 0 5px;
          padding: 8px 12px;
          background-color: #e41f07;
          border: 1px solid #e41f07;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 600ms;
          &:hover {
            background-color: #c11a06;
          }
        }
        .edit {
          margin: 0 5px;
          padding: 8px 12px;
          background-color: #28a745;

          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 600ms;
          &:hover {
            background-color: #218838;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .customer-list {
    min-height: auto;
    .form {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .addImage {
        display: flex;
        align-items: center;
        justify-content: center;
        .person {
          width: 220px;
        }
      }
      .customer-form {
        width: 300px;
      }
    }
    .table {
      .customer-table {
        .customer-header {
          display: none;
        }

        .customer-row {
          flex-direction: column;

          .customer-item {
            padding: 6px 0;
          }
        }
      }
    }
  }
}
